DB_HOST=localhost
DB_PORT=3306
DB_NAME=banco_db
DB_USER=root
DB_PASSWORD=

JWT_SECRET=cambia_esto_por_una_clave_segura
JWT_EXPIRES_IN=24h

PORT=3000
NODE_ENV=development

# Dominios autorizados para consumir la API (separados por coma)
# Ejemplo desarrollo:  ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3001
# Ejemplo producción:  ALLOWED_ORIGINS=https://mibanco.com
ALLOWED_ORIGINS=http://localhost:5173
